.marvel-list h1 {
  margin-top: 20px;
  position: relative;
}

.marvel-list ul {
  list-style-type: none;
}

.marvel-list li {
  background-color: #dddddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  float: left;
  height: 300px;
  margin: 10px 10px 50px 10px;
  overflow: scroll;
  text-align: center;
  width: 200px;
  transition: all 200ms ease-out;
}

.marvel-list li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
  height: 350px;
  margin-bottom: 0px;
  width: 230px;
}
