.marvel-list {
  grid-column: 2;
  margin-top: 20px;
}

.marvel-list h1 {
  margin-top: 20px;
  position: relative;
}

.marvel-list ul {
  list-style-type: none;
  overflow: visible;
}

.marvel-list li {
  cursor: pointer;
  float: left;
}

.marvel-list li a {
  color: black;
  text-decoration: none;
}

.loading-container {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 150px auto auto;
}

.loading-item {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  margin-top: 40px;
  font-weight: bold;
}

.loading-item p {
  margin-top: 40px;
}
