.marvel-list h1 {
  margin-top: 20px;
  position: relative;
}

.marvel-list ul {
  list-style-type: none;
}

.marvel-list li {
  float: left;
}

.marvel-list li a {
  color: black;
  text-decoration: none;
}
