.marvel-nav ul {
  background-color: red;
  color: black;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.marvel-nav li {
  float: left;
  width: 33%;
}

.marvel-nav li a {
  color: white;
  display: block;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.marvel-nav li a:hover {
  background-color: darkred;
}

.marvel-nav li .active {
  border-bottom: 4px solid blue;
}
