.marvel-nav {
  height: 40px;
}

.marvel-nav ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: red;
  color: black;
  overflow: hidden;
}

.marvel-nav li {
  float: left;
  width: 33.33%;
}

.marvel-nav li a {
  display: block;
  padding: 10px 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.marvel-nav li a:hover {
  background-color: rgb(230, 19, 19);
}

.marvel-nav li .active {
  background-color: blue;
}

.marvel-nav li .active:hover {
  background-color: rgb(19, 19, 209);
}
